# Process and Plot the Peak Historical Loads by Interconnection

This notebook analyzes the historical time series of extreme loads (summer and winter) by interconnection.

In [1]:
# Start by importing the packages we need:
import os

import pandas as pd
import matplotlib.pyplot as plt

from glob import glob

## Set the Directory Structure

In [60]:
# Identify the data input and output directories:
load_data_input_dir =  '/Users/burl878/Documents/IMMM/Data/TELL/Production_Runs/tell_data/outputs/postprocessed/interconnection_load_time_series/'
data_output_dir =  '/Users/burl878/Documents/IMMM/Data/TELL/Production_Runs/tell_data/outputs/postprocessed/interconnection_load_time_series/'
image_output_dir =  '/Users/burl878/Documents/IMMM/Images/TELL/Analysis/Interconnection_Peak_Loads/'

## Process the Historical Peak Loads

In [64]:
# Define a function to process the time series of historical peak loads:
def process_historical_peak_loads(load_data_input_dir: str, data_output_dir: str, interconnection: str):
    # Read in the historical interconnection loads file:
    ics_df = pd.read_csv(load_data_input_dir + 'historic.csv')
    
    # Subset to just the data for the interconnection being processed:
    ics_df = ics_df.loc[ics_df['Interconnection'] == interconnection]
    
    # Rename some variables for simplicity:
    ics_df.rename(columns={'Interconnection_Load_MWh': 'Load_MWh', 'Percentile': 'Load_Percentile'}, inplace=True)
    
    # Set the time value as a datetime variable:
    ics_df['Datetime'] = pd.to_datetime(ics_df['Time_UTC'])
        
    # Add columns with the year and month values to be used in grouping:
    ics_df['Year'] = ics_df['Datetime'].dt.strftime('%Y').astype(str).astype(int)
    ics_df['Month'] = ics_df['Datetime'].dt.strftime('%m').astype(str).astype(int)
    
    # Compute the annual mean and standard deviation of the load:
    ics_df['Year_Mean_Load'] = ics_df.groupby('Year')['Load_MWh'].transform('mean').round(2)
    ics_df['Year_STD_Load'] = ics_df.groupby('Year')['Load_MWh'].transform('std').round(2)
    
    # Compute the hourly normalized load by subtracting the annual mean and dividing by the annual standard deviation:
    ics_df['Normalized_Load'] = ((ics_df['Load_MWh'] - ics_df['Year_Mean_Load']) / ics_df['Year_STD_Load']).round(2)
    
    # Subset to just the columns we need:
    ics_df = ics_df[['Time_UTC', 'Year', 'Month', 'Load_MWh', 'Normalized_Load', 'Year_Mean_Load']].copy()
    
    #Initiate a counter and empty dataframe to store the results:
    counter = 0;
    stats_df = pd.DataFrame()
    
    # Loop over the years and find the maximum summer and winter load in each year:
    for year in range(1980,2020,1):
        # Iterate the counter by one:
        counter = counter + 1 
        
        # Subset the data to just the year being processed and to just the summer and winter months:
        subset_df = ics_df.loc[(ics_df['Year'] == year)]
        winter_df = subset_df.loc[(subset_df['Month'] == 1) | (subset_df['Month'] == 2) | (subset_df['Month'] == 3) | (subset_df['Month'] == 10) | (subset_df['Month'] == 11) | (subset_df['Month'] == 12)]
        summer_df = subset_df.loc[(subset_df['Month'] == 4) | (subset_df['Month'] == 5) | (subset_df['Month'] == 6) | (subset_df['Month'] == 7) | (subset_df['Month'] == 8) | (subset_df['Month'] == 9)]

        # Find the row of the maximum load for each subset:
        all_max_index = subset_df['Load_MWh'].idxmax()
        winter_max_index = winter_df['Load_MWh'].idxmax()
        summer_max_index = summer_df['Load_MWh'].idxmax()
                
        # Put the statistics in a new dataframe:
        stats_df.loc[counter, 'Year'] = str(year)
        stats_df.loc[counter, 'Mean_Load_MWh'] = subset_df['Year_Mean_Load'].mean().round(2)
        stats_df.loc[counter, 'All_Max_Time'] = subset_df.loc[all_max_index, 'Time_UTC']
        stats_df.loc[counter, 'All_Max_Load_MWh'] = subset_df.loc[all_max_index, 'Load_MWh']
        stats_df.loc[counter, 'All_Max_Load_Norm'] = subset_df.loc[all_max_index, 'Normalized_Load']
        stats_df.loc[counter, 'Win_Max_Time'] = winter_df.loc[winter_max_index, 'Time_UTC']
        stats_df.loc[counter, 'Win_Max_Load_MWh'] = winter_df.loc[winter_max_index, 'Load_MWh']
        stats_df.loc[counter, 'Win_Max_Load_Norm'] = winter_df.loc[winter_max_index, 'Normalized_Load']
        stats_df.loc[counter, 'Sum_Max_Time'] = summer_df.loc[summer_max_index, 'Time_UTC']
        stats_df.loc[counter, 'Sum_Max_Load_MWh'] = summer_df.loc[summer_max_index, 'Load_MWh']
        stats_df.loc[counter, 'Sum_Max_Load_Norm'] = summer_df.loc[summer_max_index, 'Normalized_Load']

        # Clean up and move to the next year:
        del subset_df, winter_df, summer_df, all_max_index, winter_max_index, summer_max_index
        
    # Write out the time series dataframe to a .csv file:
    ics_df.to_csv((os.path.join(data_output_dir + interconnection + '_Peak_Load_Time_Series.csv')), sep=',', index=False)
    stats_df.to_csv((os.path.join(data_output_dir + interconnection + '_Peak_Load_Statistics.csv')), sep=',', index=False)
    
    return ics_df, stats_df

In [68]:
ts_df, stats_df = process_historical_peak_loads(load_data_input_dir = load_data_input_dir, 
                                                data_output_dir = data_output_dir, 
                                                interconnection = 'WECC')

stats_df

,Year,Mean_Load_MWh,All_Max_Time,All_Max_Load_MWh,All_Max_Load_Norm,Win_Max_Time,Win_Max_Load_MWh,Win_Max_Load_Norm,Sum_Max_Time,Sum_Max_Load_MWh,Sum_Max_Load_Norm
1,1980,30914.57,1980-07-28 01:00:00,49354.14,4.24,1980-10-02 00:00:00,41939.69,2.54,1980-07-28 01:00:00,49354.14,4.24
2,1981,34288.05,1981-08-07 01:00:00,52510.30,3.71,1981-12-24 03:00:00,41388.38,1.45,1981-08-07 01:00:00,52510.30,3.71
3,1982,37573.28,1982-09-03 00:00:00,56159.95,3.67,1982-01-07 03:00:00,48504.08,2.16,1982-09-03 00:00:00,56159.95,3.67
4,1983,40843.36,1983-08-08 01:00:00,64112.88,4.13,1983-12-22 03:00:00,52777.76,2.12,1983-08-08 01:00:00,64112.88,4.13
5,1984,44007.92,1984-08-09 01:00:00,66528.09,3.61,1984-01-19 03:00:00,55326.52,1.82,1984-08-09 01:00:00,66528.09,3.61
6,1985,47399.02,1985-07-09 01:00:00,76729.13,4.39,1985-02-05 03:00:00,59361.03,1.79,1985-07-09 01:00:00,76729.13,4.39
7,1986,50678.95,1986-08-20 00:00:00,76601.63,3.70,1986-12-11 03:00:00,61380.81,1.53,1986-08-20 00:00:00,76601.63,3.70
8,1987,53960.87,1987-08-05 01:00:00,80905.86,3.68,1987-10-01 00:00:00,70201.19,2.22,1987-08-05 01:00:00,80905.86,3.68
9,1988,57072.15,1988-07-26 01:00:00,88757.64,3.87,1988-12-27 03:00:00,72163.87,1.84,1988-07-26 01:00:00,88757.64,3.87
10,1989,60522.61,1989-07-20 01:00:00,95155.04,4.16,1989-02-03 04:00:00,79807.79,2.32,1989-07-20 01:00:00,95155.04,4.16
11,1990,63805.99,1990-07-13 01:00:00,101028.60,3.98,1990-12-22 03:00:00,85041.99,2.27,1990-07-13 01:00:00,101028.60,3.98
12,1991,64840.85,1991-07-03 01:00:00,99956.00,3.99,1991-10-11 00:00:00,87745.35,2.60,1991-07-03 01:00:00,99956.00,3.99
13,1992,65764.72,1992-08-17 00:00:00,102639.68,3.91,1992-10-01 00:00:00,87061.78,2.26,1992-08-17 00:00:00,102639.68,3.91
14,1993,66966.91,1993-08-02 01:00:00,107497.80,4.53,1993-10-01 00:00:00,85793.10,2.10,1993-08-02 01:00:00,107497.80,4.53
15,1994,68034.47,1994-08-15 01:00:00,105138.37,3.76,1994-12-09 03:00:00,81813.95,1.40,1994-08-15 01:00:00,105138.37,3.76
16,1995,69079.24,1995-07-28 01:00:00,110466.93,4.10,1995-02-13 03:00:00,83570.62,1.44,1995-07-28 01:00:00,110466.93,4.10
17,1996,69934.84,1996-08-14 01:00:00,113876.83,4.24,1996-10-09 00:00:00,91683.31,2.10,1996-08-14 01:00:00,113876.83,4.24
18,1997,71201.31,1997-08-06 01:00:00,112802.11,4.15,1997-10-01 01:00:00,89688.03,1.85,1997-08-06 01:00:00,112802.11,4.15
19,1998,72233.61,1998-07-17 01:00:00,118399.67,4.23,1998-12-22 03:00:00,92643.84,1.87,1998-07-17 01:00:00,118399.67,4.23
20,1999,73315.41,1999-08-27 00:00:00,113128.36,3.98,1999-10-01 00:00:00,90189.17,1.69,1999-08-27 00:00:00,113128.36,3.98
21,2000,74140.22,2000-08-01 01:00:00,117143.13,4.01,2000-10-02 00:00:00,91806.45,1.65,2000-08-01 01:00:00,117143.13,4.01
22,2001,75421.67,2001-07-03 01:00:00,120999.90,4.23,2001-10-01 00:00:00,97891.09,2.09,2001-07-03 01:00:00,120999.90,4.23
23,2002,76476.68,2002-07-10 01:00:00,121769.03,4.09,2002-01-30 04:00:00,93818.77,1.57,2002-07-10 01:00:00,121769.03,4.09
24,2003,77530.58,2003-07-22 01:00:00,122861.49,3.81,2003-10-01 00:00:00,95469.14,1.51,2003-07-22 01:00:00,122861.49,3.81
25,2004,78370.06,2004-08-12 01:00:00,122634.48,3.91,2004-01-06 04:00:00,100220.25,1.93,2004-08-12 01:00:00,122634.48,3.91
26,2005,79609.99,2005-07-18 01:00:00,128837.10,4.10,2005-12-08 02:00:00,97280.93,1.47,2005-07-18 01:00:00,128837.10,4.10
27,2006,80185.07,2006-07-24 01:00:00,136472.61,4.55,2006-11-30 03:00:00,95130.12,1.21,2006-07-24 01:00:00,136472.61,4.55
28,2007,80776.65,2007-07-05 01:00:00,129401.49,3.97,2007-01-16 04:00:00,99093.87,1.50,2007-07-05 01:00:00,129401.49,3.97
29,2008,81107.36,2008-07-09 01:00:00,125181.79,3.66,2008-10-02 00:00:00,105713.54,2.05,2008-07-09 01:00:00,125181.79,3.66
30,2009,81906.49,2009-07-20 01:00:00,131103.23,4.09,2009-12-09 03:00:00,101913.54,1.66,2009-07-20 01:00:00,131103.23,4.09
31,2010,82426.60,2010-07-16 01:00:00,133822.75,4.32,2010-10-01 00:00:00,111031.57,2.41,2010-07-16 01:00:00,133822.75,4.32
32,2011,82577.05,2011-08-25 00:00:00,127961.76,3.84,2011-01-11 04:00:00,101057.05,1.56,2011-08-25 00:00:00,127961.76,3.84
33,2012,82537.80,2012-08-13 00:00:00,131409.09,3.96,2012-10-02 00:00:00,109304.00,2.17,2012-08-13 00:00:00,131409.09,3.96
34,2013,82912.87,2013-07-01 01:00:00,135389.68,4.16,2013-01-14 03:00:00,104617.34,1.72,2013-07-01 01:00:00,135389.68,4.16
35,2014,83051.48,2014-07-14 01:00:00,128161.52,3.63,2014-10-07 00:00:00,102154.47,1.54,2014-07-14 01:00:00,128161.52,3.63
36,2015,83237.23,2015-07-01 01:00:00,132130.47,3.77,2015-10-14 00:00:00,104422.72,1.64,2015-07-01 01:00:00,132130.47,3.77
37,2016,84609.99,2016-07-29 00:00:00,136790.78,4.02,2016-12-19 03:00:00,102640.90,1.39,2016-07-29 00:00:00,136790.78,4.02
38,2017,86474.34,2017-08-29 00:00:00,137811.93,3.69,2017-01-06 03:00:00,104359.42,1.29,2017-08-29 00:00:00,137811.93,3.69
39,2018,88032.39,2018-07-26 01:00:00,143590.41,4.00,2018-02-21 04:00:00,103653.67,1.12,2018-07-26 01:00:00,143590.41,4.00
40,2019,89673.49,2019-08-06 01:00:00,140372.65,3.71,2019-01-02 04:00:00,107208.08,1.28,2019-08-06 01:00:00,140372.65,3.71